.search-tabs
    .tab.tab_active
        .material-icons access_time
        .tab__title
            span Active Projects
            .active-number.active-number_pasive 9
    .tab
        .material-icons send
        .tab__title
            span Messenger
            .active-number 2
    .search-descr
        span Search Project, User, Task, etc...
