.navigation{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 20px;
  background-color: $navigation-bg-color;
  width: 130px;
  height: 100%;

    .material-icons{
      color: #4d5052;
      font-size: 30px;
    }

    .navigation__upgrade{
      margin-top: auto;
    }
}

.navigation__avatar{
  margin-top: 20%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: $main-font;

    img{
      width: 100px;
      height: 100px;
    }
    .active-number{
      top: 0;
      right: 20px;
    }
}

.navigation__trenner{
  padding-left: 4px;
  text-align: center;cursor: default;
}

.mavigation__element-style{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 5%;
  align-items: center;
  border-left: 4px solid $navigation-bg-color;
  cursor: pointer;
  font-family: $main-font;
  color: #4d5052;

  &:hover{
    transition: 0.1s;
    color: white;
    //opacity: 0.6;
    .material-icons{
      transition: 0.1s;
      color: $active-color;
      opacity: 0.6;
    }
  }

    span{
      font-size: 14px;
      margin-top: 5px;
    }

  .active-number{
    top: -10px;
    right: 20px;
  }

  .active-number_pasive{
    background-color: #aeaeae;
  }

}

.mavigation__selected-element{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  border-left: 4px solid $active-color;
  cursor: pointer;
  font-family: $main-font;
  color: white;
    .material-icons{
      color: $active-color;
    }

    span{
      font-size: 14px;
      margin-top: 5px;
    }
}