.navigation
    .navigation__avatar
        img(src="images/navigation/avatar.png" alt="")
        .active-number 2
    .navigation__trenner
        .material-icons more_horiz
    .navigation__board.mavigation__selected-element
        .material-icons settings_input_svideo
        span Board
    .navigation__trenner
        .material-icons more_horiz
    .navigation__projects.mavigation__element-style
        .material-icons dehaze
        .active-number.active-number_pasive 9
        span Projects
    .navigation__trenner
        .material-icons more_horiz
    .navigation__settings.mavigation__element-style
        .material-icons settings
        span Settings
    .navigation__upgrade.mavigation__element-style
        .material-icons toys
        .active-number 3
        span Upgrade
    .navigation__trenner
        .material-icons more_horiz
    .navigation__logout.mavigation__element-style
        .material-icons power_settings_new
        span Logout

