.head
    .head__refresh
        .material-icons refresh
    .head__dashboard
        span Dashboard
    .head__filter-status
        .material-icons expand_more
    .head__filter
        .material-icons question_answer
        span 5 users online
        .material-icons expand_more