doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/style.css")
    body
        .page-wrapper
            include components/navigation/navigation
            include components/content/content
